ul{
    list-style: none;
    padding: 1rem;
    margin: 0;
}

li{
    margin-top: 0.2rem;
}

::deep input {
    margin-left: 1rem;
}

::deep form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px black solid;
    width: 30rem;
}